nav{
    overflow: hidden;
    text-align: justify;
    margin-bottom: 1%;
}
nav li{
    list-style: none;
    float: right;
    display: inline;
    padding: 3px 3px;
    box-shadow: 5px 5px 10px;

}
nav a{
    display: block;
    padding: 3px 3px;
    color: blanchedalmond;
    text-decoration: none;
    font-size: 17px;
}
.btn:hover{
    background-color: rgb(14, 9, 4);
    color: black;
}
.btn:active {
    background-color: aqua;
}
.btn{
    background-color: darkslateblue;
    padding: 2px 2px;
    margin: 0.8% 0.8%;
    border-radius: 5px;
    color: bisque;
    border: none;
    content: contain;
}
.txt{
    background-color: darksalmon;
    width: 40%;
    border-radius: 10px;
    padding: 2% 2%;
    margin-left: 10%;
    align-content: center;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
.txt:hover{
    box-shadow: 2px 0px 5px;
    transition: 0.5s;
    transform: scale(1.1) ;
}

.img{
    width: 80%;
    margin-left: 16%;
    border-radius: 10px;
    margin-left: 20%;
    padding: 2%;
    border: none;
}

img:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 5px;
    transition: 0.5s;
}
.fnt{
    display: flex;
}
.txt-1{
    background-color:darksalmon;
    border-radius: 10px;
    margin: 2% 2%;
    margin-right: -2%;
    padding: 2% 2%;
    width: 80%;
    margin-left: 8%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.txt-1:hover{
   transform: scale(1.0);
   box-shadow: 2px 2px 5px;
   transition: 0.5s;  
}
.img-1{
    background-color: rgba(165, 42, 42, 0.61);
    border-radius: 10px;
    width: 25%;
    margin:1% 1%;
    margin-left: 4%;
}
.t-1{
    margin-left: 30%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;

}
.social-icons { 
    display:flex;
     gap:12px;
     align-items:center; }
.social-icons a { 
    color:#2a0369; 
    font-size:20px;
     text-decoration:none;
     margin-left: 5%;
     }
.social-icons a:hover {
     opacity:0.8;
     color: honeydew;
     }
footer{
    background-color: rgb(82, 22, 0);
    padding: 2% 2%;
}
body{
    align-content: center;
}

.contact{
    background-color: #2a03699c;
    margin: 2% 2%;
    padding: 2% 2%;
    border-radius: 10px;
    height: 75%;
    width: 100%;
    margin-left: 10%;
}
.ceo{
    display: inline;

}
.ceo-0{
    display: flex;
}
.ceo-1{
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 10%;
    padding: 3% 3%;
    border-radius: 10px;
}
.bk{
    background-image: linear-gradient(360deg, yellow, orange);
    border-radius: 10px;
    margin: 2% 1%;
}